<div class="card-step card-step-{{.Status}}" data-tooltip="{{.StatusCapitalize}}">
    <div class="card-step-result color-{{.Status}}">
        {{.ResultIcon}}
    </div>
    <div class="card-step-name">
        {{.Keyword}} {{.Name}}
        {{.Message}}
        {{.Embed}}
        {{.Table}}
    </div>
    <div class="card-step-time">
        {{.Duration}}
    </div>
</div>